/*font-size-variables */
/*font-weight-variables */
.home-banner-slider { position: relative; }
.home-banner-slider .slick-active { outline: none; }
.home-banner-slider .slick-custom-arrow-left, .home-banner-slider .slick-custom-arrow-right { position: absolute; top: 95%; display: block; width: 55px; height: 55px; line-height: 0; padding: 12px; background-color: #ffffff; z-index: 1; transition: .2s ease-in; }
.home-banner-slider .slick-custom-arrow-left:hover, .home-banner-slider .slick-custom-arrow-right:hover { background-color: #EE2123; transition: .2s ease-in; cursor: pointer; }
.home-banner-slider .slick-custom-arrow-left { left: 0; }
.home-banner-slider .slick-custom-arrow-right { left: 51px; }

/* Droid Sans font add */
@font-face { font-family: 'Nexa'; src: url("../css/fonts/Nexa Bold.otf") format("otf"), url("../css/fonts/Nexa Book Italic.otf") format("otf"), url("../css/fonts/Nexa Heavy.otf") format("otf"), url("../css/fonts/Nexa Light.otf") format("otf"), url("../css/fonts/Nexa Regular.otf") format("otf"); }
@font-face { font-family: 'NexaHeavy'; src: url("../css/fonts/NexaHeavy.eot"); src: url("../css/fonts/NexaHeavy.eot?#iefix") format("embedded-opentype"), url("../css/fonts/NexaHeavy.woff2") format("woff2"), url("../css/fonts/NexaHeavy.woff") format("woff"), url("../css/fonts/NexaHeavy.ttf") format("truetype"), url("../css/fonts/NexaHeavy.svg#NexaHeavy") format("svg"); font-weight: 900; font-style: normal; }
@font-face { font-family: 'NexaRegular'; src: url("../css/fonts/NexaRegular.eot"); src: url("../css/fonts/NexaRegular.eot?#iefix") format("embedded-opentype"), url("../css/fonts/NexaRegular.woff2") format("woff2"), url("../css/fonts/NexaRegular.woff") format("woff"), url("../css/fonts/NexaRegular.ttf") format("truetype"), url("../css/fonts/NexaRegular.svg#NexaRegular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Nexa'; src: url("../css/fonts/Nexa-Bold.eot"); src: url("../css/fonts/Nexa-Bold.eot?#iefix") format("embedded-opentype"), url("../css/fonts/Nexa-Bold.woff2") format("woff2"), url("../css/fonts/Nexa-Bold.woff") format("woff"), url("../css/fonts/Nexa-Bold.ttf") format("truetype"), url("../css/fonts/Nexa-Bold.svg#Nexa-Bold") format("svg"); font-weight: bold; font-style: normal; }
@font-face { font-family: 'Nexa-Book'; src: url("../css/fonts/Nexa-Book-Italic.eot"); src: url("../css/fonts/Nexa-Book-Italic.eot?#iefix") format("embedded-opentype"), url("../css/fonts/Nexa-Book-Italic.woff2") format("woff2"), url("../css/fonts/Nexa-Book-Italic.woff") format("woff"), url("../css/fonts/Nexa-Book-Italic.ttf") format("truetype"), url("../css/fonts/Nexa-Book-Italic.svg#Nexa-Book-Italic") format("svg"); font-weight: normal; font-style: italic; }
@font-face { font-family: 'Nexa'; src: url("../css/fonts/Nexa-Light.eot"); src: url("../css/fonts/Nexa-Light.eot?#iefix") format("embedded-opentype"), url("../css/fonts/Nexa-Light.woff2") format("woff2"), url("../css/fonts/Nexa-Light.woff") format("woff"), url("../css/fonts/Nexa-Light.ttf") format("truetype"), url("../css/fonts/Nexa-Light.svg#Nexa-Light") format("svg"); font-weight: 300; font-style: normal; }
/* HELPER CLASS -------------------------- */
a { font-size: 14px; }

a, input[type=text], .btn, .menu-icon .fa, img, .top-delivey-services, .header.menu-opened .top-delivey-services { -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; }

.btn, .btn.focus, .btn:focus, a:hover, a:focus, a:active { box-shadow: none; outline: none; }

.container { max-width: 1562px; }

html, body { height: 100%; position: relative; }

html { overflow-y: scroll; }

body { min-width: 100px; line-height: 1.429; font-weight: 400; font-style: normal; font-size: 14px; font-family: "Muli", "sans-serif"; }

a { cursor: pointer; text-decoration: none; font-style: normal; }

a:hover, a:focus, a:active { text-decoration: none; font-style: normal; outline: none; }

img { border: 0; vertical-align: middle; }

ul, ol { list-style-position: inside; list-style-type: none; }

img { max-width: 100%; }

h1 { font-style: normal; font-size: 120px; font-family: "Anton", "sans-serif"; font-weight: 400; color: #ffffff; line-height: 1.2; }

h2 { font-style: normal; font-size: 50px; font-family: "Anton", "sans-serif"; font-weight: 400; line-height: 1.429; }

h3 { font-size: 100px; font-family: "Anton", "sans-serif"; font-weight: 400; font-style: normal; color: #000000; line-height: 1; }

h4 { font-size: 50px; font-family: "Anton", "sans-serif"; font-weight: 400; font-style: normal; line-height: 1.25; }

h5 { font-family: "Anton", "sans-serif"; font-style: normal; font-weight: 700; color: #000000; font-size: 25px; line-height: 1; }

h6 { font-size: 30px; color: #f39307; font-family: "Anton", "sans-serif"; font-style: normal; font-weight: 400; line-height: 1.429; }

p { font-size: 22px; font-family: "Muli", "sans-serif"; color: #000000; font-style: normal; font-weight: 400; line-height: 1.429; }

/* ==========================================================================
> header-section
========================================================================== */
.header { width: 100%; margin: 0 auto; border-color: transparent; }
.header .navbar-expand-lg .navbar-nav .nav-link { font-family: "Muli", "sans-serif"; color: #ffffff; font-size: 18px; font-weight: 700; margin: 0; padding-left: 40px; transition: all .3s; }
.header .navbar-expand-lg .navbar-nav .nav-link:hover { color: #D70102; transition: all .3s linear; }
.header .dropdown-toggle::after { display: none; }
.header .mi-toggle { color: #ffffff; text-align: center; font-size: 14px; }

.navbar-toggler i { color: #f39307; font-size: 2rem; }
.navbar-toggler i:hover { color: #ffffff; }

.nav-link i { color: #f39307; font-size: 22px; text-align: center; }
.nav-link i:hover { color: #D70102; transition: all .3s linear; }

/* ==========================================================================
> banner-section
========================================================================== */
.banner-section { padding: 360px 0; background-repeat: no-repeat; background-position: center center; background-size: cover; }
.banner-section .banner-caption p { padding: 15px 0 40px 0; }
.banner-section .banner-caption .btn-shop-now { font-family: "Anton", "sans-serif"; font-weight: 400; color: #ffffff; font-size: 18px; background-color: #EE2123; border: 2px solid #ffffff; border-radius: 25px 25px 25px 25px; padding: 13px 60px; transition: all .1s ease-in; }
.banner-section .banner-caption .btn-shop-now:hover { color: #000000; background-color: #ffffff; transition: all .1s ease-in; border-radius: 0; }

/* ==========================================================================
> home-banner-slider
========================================================================== */
.home-banner-slider .home-banner-section { padding: 400px 0; background-repeat: no-repeat; background-size: cover; }
.home-banner-slider span { color: #f39307; }
.home-banner-slider p { padding: 15px 0 40px 0; }

/* ==========================================================================
> about-section
========================================================================== */
.about-section { background-color: #f39307; padding: 300px 0; }
.about-section .about-bg { background-repeat: no-repeat; background-size: contain, contain; background-position: top right, bottom right; }
.about-section .about-caption span { font-size: 30px; color: #000000; }
.about-section .about-caption p { color: #ffffff; font-size: 18px; padding: 30px 0 40px 0; }

/* ==========================================================================
> banner-about-section
========================================================================== */
.banner-about-section { padding: 240px 0; background-repeat: no-repeat; background-position: center bottom; background-size: cover; }

/* ==========================================================================
> inspired-section
========================================================================== */
.inspired-section .inspired-img { padding: 170px 0; background-repeat: no-repeat; background-position: center top; background-size: cover; }

/* ==========================================================================
> innovation-section
========================================================================== */
.innovation-section { background-repeat: no-repeat; background-position: center right; }
.innovation-section .innovation-caption p { padding: 60px 10px 0 30px; font-size: 18px; }
.innovation-section .innovation-img-caption h1 { position: absolute; bottom: -3%; left: 7%; opacity: 0.4; color: #ffffff; }
.innovation-section .innovation-img-caption h2 { position: absolute; top: 83%; left: 7%; opacity: 0.4; color: #ffffff; }

/* ==========================================================================
> team-section
========================================================================== */
.team-section { background-repeat: no-repeat; background-position: center top; }
.team-section h1 { margin: 0 0 -90px 0; }
.team-section .caption span { font-size: 18px; color: #C5C5C5; }

.bottom-corner-top { display: block; position: relative; }
.bottom-corner-top:after, .bottom-corner-top:before { content: ''; position: absolute; background-color: #E20B13; }
.bottom-corner-top:after { width: 6px; height: 10%; bottom: 2%; right: 34px; }
.bottom-corner-top:before { height: 6px; width: 14%; bottom: 2%; right: 34px; }

.bottom-corner-bottom { display: block; position: relative; }
.bottom-corner-bottom:after, .bottom-corner-bottom:before { content: ''; position: absolute; background-color: #E20B13; }
.bottom-corner-bottom:after { width: 6px; height: 10%; top: 2%; left: 14px; }
.bottom-corner-bottom:before { height: 6px; width: 14%; top: 2%; left: 14px; }

.bg-shadow { box-shadow: 0 3px 3px 0 #ddd; background-color: #ffffff; }

/* ==========================================================================
> brand-section
========================================================================== */
.brand-section { padding: 60px 0; background-color: #F5F5F5; }
.brand-section img { min-width: 100px; min-height: 100px; }

/* ==========================================================================
> product-section
========================================================================== */
.product-section { padding-bottom: 75px; }
.product-section .product-caption { padding: 50px 0 50px 0; }
.product-section .product-caption p { font-weight: 400; font-size: 18px; color: #000000; }
.product-section .product-caption a { color: #ff0000; }
.product-section .products span { font-family: "Muli", "sans-serif"; font-weight: 400; font-size: 18px; color: #000000; }

.add-to-cart { font-family: "Anton", "sans-serif"; font-weight: 400; color: #ffffff; font-size: 18px; background-color: #f39307; border: 2px solid #000000; border-radius: 25px 25px 25px 25px; padding: 5px 20px; transition: all .3s ease-in; }
.add-to-cart:hover { color: #000000; background-color: #ffffff; transition: all .3s ease-in; border-radius: 0; }

.load-more { font-family: "Anton", "sans-serif"; font-weight: 400; color: #ffffff; font-size: 18px; background-color: #EE2123; border: 2px solid #000000; border-radius: 25px 25px 25px 25px; padding: 13px 55px; transition: all .3s ease-in-out; }
.load-more:hover { color: #000000; background-color: #ffffff; transition: all .3s ease-in; border-radius: 0; }

#myList li { display: none; }

#myList:after { clear: both; display: block; content: ""; }

.less-more { font-family: "Anton", "sans-serif"; font-weight: 400; color: #ffffff; display: none; font-size: 18px; background-color: #000000; border: 2px solid #000000; border-radius: 25px 25px 25px 25px; padding: 13px 55px; transition: all .3s ease-in-out; }
.less-more:hover { color: #000000; background-color: #ffffff; transition: all .3s ease-in; border-radius: 0; }

/* ==========================================================================
> description-section
========================================================================== */
.description-section { background-repeat: no-repeat; background-position: bottom right; padding: 120px 0 0 0; }
.description-section .description-img img { width: 100%; min-height: 660px; margin-left: 60px; position: relative; z-index: 1; }
.description-section .description-caption { background-color: #ffffff; box-shadow: 0 3px 3px 0 #ddd; padding: 50px 10px 220px 60px; }
.description-section .description-caption p { color: #000000; font-weight: 400; font-size: 1.125rem; }

/* ==========================================================================
> categories-section
========================================================================== */
.categories-section { padding: 35px 0 35px 0; }
.categories-section .categories-top-img { padding: 50px 0; background-repeat: no-repeat; background-position: top left, bottom right; }
.categories-section .categories-img:hover { transition: .1s ease-in; opacity: 0.7; border-radius: 5px; filter: alpha(opacity=50); }
.categories-section p { color: #000000; font-size: 22px; }

.title-shadow { padding: 60px 0 22px 0; color: #f39307; text-shadow: 3px -6px 0 #c2c2c2; }

/* ==========================================================================
> home-brand-section
========================================================================== */
.home-brand-section { padding: 50px 0 150px 0; }
.home-brand-section h1 { color: #000000; }
.home-brand-section p { font-size: 18px; }
.home-brand-section .brand-top img { padding: 15px 60px 30px 50px; }

.home-brand-border-left { position: relative; }
.home-brand-border-left:after, .home-brand-border-left:before { content: ''; position: absolute; background-color: #9a9a9a; }
.home-brand-border-left:after { width: 1px; height: 100%; top: 5%; left: 13px; }

.home-brand-border-right { position: relative; }
.home-brand-border-right:after, .home-brand-border-right:before { content: ''; position: absolute; background-color: #9a9a9a; }
.home-brand-border-right:after { width: 1px; height: 75%; top: 5%; right: 13px; }

.home-brand-border-bottom { position: relative; }
.home-brand-border-bottom:after, .home-brand-border-bottom:before { content: ''; position: absolute; background-color: #9a9a9a; }
.home-brand-border-bottom:before { height: 1px; width: 100%; bottom: 2%; left: 1px; }

.home-brand-border { position: relative; }
.home-brand-border:after, .home-brand-border:before { content: ''; position: absolute; background-color: #9a9a9a; }
.home-brand-border:after { width: 1px; height: 75%; top: 5%; right: 13px; }
.home-brand-border:before { height: 1px; width: 75%; bottom: 2%; right: 34px; }

.home-brand-border-bottom-left { position: relative; }
.home-brand-border-bottom-left:after, .home-brand-border-bottom-left:before { content: ''; position: absolute; background-color: #9a9a9a; }
.home-brand-border-bottom-left:after { width: 1px; height: 75%; bottom: 2%; top: 5%; left: 13px; }
.home-brand-border-bottom-left:before { height: 1px; width: 75%; bottom: 2%; left: 34px; }

 /* ==========================================================================
> product-development-section
========================================================================== */
.product-development-section { background-repeat: no-repeat; background-position: center top; padding: 100px 0; }
.product-development-section img { margin-top: -190px; }
.product-development-section .product-development-caption { padding: 0 15px 95px 35px; background-color: #000000; }
.product-development-section .product-development-caption h5 { color: #b71c1c; padding: 10px 0; }
.product-development-section .product-development-caption p { color: #ffffff; font-size: 18px; padding-bottom: 40px; }
.product-development-section .product-development-caption-two { padding: 0 15px 95px 35px; background-color: #ffffff; }
.product-development-section .product-development-caption-two h5 { padding: 10px 0; color: #e2171f; }
.product-development-section .product-development-caption-two p { color: #000000; font-size: 18px; padding-bottom: 40px; }

/* ========================================================================== > blogs-section ========================================================================== */
.bogs-section { background-repeat: no-repeat; background-position: top right; padding-bottom: 70px; }
.bogs-section h1 { padding: 115px 0 270px 0; color: #000000; }
.bogs-section .blog-title { color: #000000; padding: 105px 0 210px 0; }

.card { box-shadow: 0 33px 95px 0 rgba(0, 0, 0, 0.1); }
.card .card-header { background-color: #e1e2e4; padding: 50px 0; }
.card .card-img-top { width: 27rem; margin: -240px auto 0 auto; }
.card .card-text { font-size: 18px; padding-bottom: 25px; }
.card .card-title { padding: 15px 0; }

/* ==========================================================================
> footer-section
========================================================================== */
.footer-section { background-repeat: no-repeat; background-position: center center; background-size: cover; padding: 48px 0; }
.footer-section .footer-middle a { font-family: "Muli", "sans-serif"; font-weight: 400; font-size: 18px; }
.footer-section .footer-middle a:hover { color: #b71c1c; }
.footer-section .footer-left a { font-family: "Muli", "sans-serif"; color: #f39307; font-size: 18px; }
.footer-section .footer-left a:hover { color: #b71c1c; }

/* ==========================================================================
> woocommerce start
========================================================================== */
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product { margin: 0 15px 25px 0; }

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product:nth-child(3n) { margin: 0 0 25px 0; }

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product { margin: 0 33px 25px 0; }

.woocommerce .products ul, .woocommerce ul.products { margin: 0; }

.woocommerce ul.products li.product a img { transition: .5s ease-in-out; }
.woocommerce ul.products li.product a img:hover { transition: .5s ease-in; opacity: 0.4; border-radius: 5px; filter: alpha(opacity=50); }

.view-our-products { font-family: "Anton", "sans-serif"; font-weight: 400; color: #ffffff; font-size: 18px; background-color: #EE2123; border: 2px solid #ffffff; border-radius: 25px 25px 25px 25px; padding: 13px 60px; transition: all .1s ease-in; }
.view-our-products:hover { color: #000000; background-color: #ffffff; transition: all .1s ease-in; border-radius: 0; }

.blog-our-products { border: none; font-family: "Anton", "sans-serif"; font-weight: 400; color: #ffffff; font-size: 18px; background-color: #EE2123; border: 2px solid #000000; border-radius: 25px 25px 25px 25px; padding: 10px 40px; transition: all .1s ease-in; }
.blog-our-products:hover { color: #000000; background-color: #ffffff; transition: all .1s ease-in; border-radius: 0; cursor: pointer; }

@media (max-width: 767px) { .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product { width: 100%; }
  h1 { font-size: 40px; }
  h2 { font-size: 32px; }
  .description-section .description-img img { margin-left: 0; }
  .card .card-img-top { margin: -200px auto 0 auto; }
  .product-development-section img { margin-top: 0; }
  .bottom-corner-top:after, .bottom-corner-top:before { display: none; }
  .bottom-corner-bottom:after, .bottom-corner-bottom:before { display: none; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product { width: 100%; }
  h1 { font-size: 40px; }
  h2 { font-size: 32px; }
  .description-section .description-img img { margin-left: 0; }
  .card .card-img-top { margin: -200px auto 0 auto; }
  .product-development-section img { margin-top: 0; }
  .bottom-corner-top:after, .bottom-corner-top:before { display: none; }
  .bottom-corner-bottom:after, .bottom-corner-bottom:before { display: none; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) { .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product { width: 100%; }
  h1 { font-size: 40px; }
  h2 { font-size: 32px; }
  .description-section .description-img img { margin-left: 0; }
  .card .card-img-top { margin: -200px auto 0 auto; }
  .product-development-section img { margin-top: 0; }
  .bottom-corner-top:after, .bottom-corner-top:before { display: none; }
  .bottom-corner-bottom:after, .bottom-corner-bottom:before { display: none; } }
@media (max-width: 320px) { .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product { width: 100%; }
  h1 { font-size: 40px; }
  h2 { font-size: 32px; }
  .description-section .description-img img { margin-left: 0; }
  .card .card-img-top { margin: -200px auto 0 auto; }
  .product-development-section img { margin-top: 0; }
  .bottom-corner-top:after, .bottom-corner-top:before { display: none; }
  .bottom-corner-bottom:after, .bottom-corner-bottom:before { display: none; } }
@media (min-width: 576px) and (max-width: 767.98px) { .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product { width: 100%; }
  h1 { font-size: 40px; }
  h2 { font-size: 32px; }
  .description-section .description-img img { margin-left: 0; }
  .card .card-img-top { margin: -200px auto 0 auto; }
  .product-development-section img { margin-top: 0; }
  .bottom-corner-top:after, .bottom-corner-top:before { display: none; }
  .bottom-corner-bottom:after, .bottom-corner-bottom:before { display: none; } }
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) { .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product { width: 100%; }
  h1 { font-size: 40px; }
  h2 { font-size: 32px; }
  .description-section .description-img img { margin-left: 0; }
  .card .card-img-top { margin: -200px auto 0 auto; }
  .product-development-section img { margin-top: 0; }
  .bottom-corner-top:after, .bottom-corner-top:before { display: none; }
  .bottom-corner-bottom:after, .bottom-corner-bottom:before { display: none; } }
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) { .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product { width: 100%; }
  h1 { font-size: 40px; }
  h2 { font-size: 32px; }
  .description-section .description-img img { margin-left: 0; }
  .card .card-img-top { margin: -200px auto 0 auto; }
  .product-development-section img { margin-top: 0; }
  .bottom-corner-top:after, .bottom-corner-top:before { display: none; }
  .bottom-corner-bottom:after, .bottom-corner-bottom:before { display: none; } }

/*# sourceMappingURL=styles.css.map */
