@media (max-width: 767px) {
  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
    width: 100%;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px; //24px
  }
  .description-section .description-img img {
    margin-left:0;
  }
  .card .card-img-top {
    margin: -200px auto 0 auto;
  }
  .product-development-section img {
    margin-top: 0;
  }
  .bottom-corner-top:after, .bottom-corner-top:before {
    display: none;
  }
  .bottom-corner-bottom:after, .bottom-corner-bottom:before {
    display: none;
  }
  }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
    width: 100%;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px; //24px
  }
  .description-section .description-img img {
    margin-left:0;
  }
  .card .card-img-top {
    margin: -200px auto 0 auto;
  }
  .product-development-section img {
    margin-top: 0;
  }
  .bottom-corner-top:after, .bottom-corner-top:before {
    display: none;
  }
  .bottom-corner-bottom:after, .bottom-corner-bottom:before {
    display: none;
  }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
    width: 100%;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px; //24px
  }
  .description-section .description-img img {
    margin-left:0;
  }
  .card .card-img-top {
    margin: -200px auto 0 auto;
  }
  .product-development-section img {
    margin-top: 0;
  }
  .bottom-corner-top:after, .bottom-corner-top:before {
    display: none;
  }
  .bottom-corner-bottom:after, .bottom-corner-bottom:before {
    display: none;
  }
}


@media (max-width:320px) {
  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
    width: 100%;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px; //24px
  }
  .description-section .description-img img {
    margin-left:0;
  }
  .card .card-img-top {
    margin: -200px auto 0 auto;
  }
  .product-development-section img {
    margin-top: 0;
  }
  .bottom-corner-top:after, .bottom-corner-top:before {
    display: none;
  }
  .bottom-corner-bottom:after, .bottom-corner-bottom:before {
    display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
    width: 100%;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px; //24px
  }
  .description-section .description-img img {
    margin-left:0;
  }
  .card .card-img-top {
    margin: -200px auto 0 auto;
  }
  .product-development-section img {
    margin-top: 0;
  }
  .bottom-corner-top:after, .bottom-corner-top:before {
    display: none;
  }
  .bottom-corner-bottom:after, .bottom-corner-bottom:before {
    display: none;
  }
}



@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio : 3)
{
  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
    width: 100%;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px; //24px
  }
  .description-section .description-img img {
    margin-left:0;
  }
  .card .card-img-top {
    margin: -200px auto 0 auto;
  }
  .product-development-section img {
    margin-top: 0;
  }
  .bottom-corner-top:after, .bottom-corner-top:before {
    display: none;
  }
  .bottom-corner-bottom:after, .bottom-corner-bottom:before {
    display: none;
  }
}


@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .woocommerce ul.products.columns-4 li.product, .woocommerce-page ul.products.columns-4 li.product {
    width: 100%;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px; //24px
  }
  .description-section .description-img img {
    margin-left:0;
  }
  .card .card-img-top {
    margin: -200px auto 0 auto;
  }
  .product-development-section img {
    margin-top: 0;
  }
  .bottom-corner-top:after, .bottom-corner-top:before {
    display: none;
  }
  .bottom-corner-bottom:after, .bottom-corner-bottom:before {
    display: none;
  }
}





// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

  }



// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {


}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 1200px) and (max-width: 1400px) {

}