html,
body {
  height: 100%;
  position: relative;
}

html {
  overflow-y: scroll;
}

body {
  min-width: 100px;
  line-height: $line-height;
  font-weight: 400;
  font-style: normal;
  font-size: $base-font-size;
  font-family:$muli-font;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
}


a:hover,
a:focus,
a:active {
  text-decoration: none;
  font-style: normal;
  outline: none;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
ol {
  list-style-position: inside;
  list-style-type: none;
}

img {
  max-width: 100%;
}
h1 {
  font-style: normal;
  font-size: 120px; //32px
  font-family: $antom-font;
  font-weight: $regular;
  color: $white;
  line-height: 1.2;
}

h2 {
  font-style: normal;
  font-size: 50px; //24px
  font-family: $antom-font;
  font-weight: $regular;
  line-height: $line-height;
  //color: $white;
}

h3 {
  //18.72px
  font-size: 100px;
  font-family: $antom-font;
  font-weight: $regular;
  font-style: normal;
  color:$black;
  line-height: 1;
}

h4 {
  //16px
  font-size: 50px;
  font-family: $antom-font;
  font-weight: $regular;
  font-style: normal;
  line-height: 1.25;
}

h5 {
  // 13.28px
  font-family: $antom-font;
  font-style: normal;
  font-weight: $bold;
  color:$black;
  font-size: 25px;
  line-height: 1;
}

h6 {
  // 12px
  font-size: 30px;
  color:$add-cart-bg;
  font-family: $antom-font;
  font-style: normal;
  font-weight: $regular;
  line-height: $line-height;
}

p{
  font-size: 22px; // 14px
  font-family: $muli-font;
  color:$black;
  font-style: normal;
  font-weight: $regular;
  line-height: $line-height;
}

/* ==========================================================================
> header-section
========================================================================== */
.header{
  width:100%;
  margin:0 auto;
  border-color: transparent;

  .navbar-expand-lg .navbar-nav .nav-link{
    font-family: $muli-font;
    color:$white;
    font-size: 18px;
    font-weight: $bold;
    margin:0;
    padding-left: 40px;
    transition: all .3s;
    &:hover{
      color:#D70102;
      transition:all .3s linear;
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
  .mi-toggle{
    color:$white;
    text-align: center;
    font-size: 14px;
  }
}
.navbar-toggler{
  i{
    color:#f39307;
    font-size: 2rem;
    &:hover{
      color:$white;
    }
  }
}
.nav-link i{
  color:#f39307;
  font-size: 22px;
  text-align: center;
  &:hover{
    color:#D70102;
    transition:all .3s linear;
  }
}
/* ==========================================================================
> banner-section
========================================================================== */
.banner-section{
  padding:360px 0;
  background-repeat: no-repeat;
  background-position:center center;
  background-size: cover;
  .banner-caption{
    p{
      padding:15px 0 40px 0;
    }
    .btn-shop-now{
      font-family: $antom-font;
      font-weight: $regular;
      color:$white;
      font-size: 18px;
      background-color: $btn-bg-color;
      border:2px solid $white;
      border-radius: 25px 25px 25px 25px;
      padding:13px 60px;
      transition: all .1s ease-in;
      &:hover{
        color:$black;
        background-color: $white;
        transition: all .1s ease-in;
        border-radius: 0;
      }
    }
  }
}
/* ==========================================================================
> home-banner-slider
========================================================================== */
.home-banner-slider{
  .home-banner-section{
    padding:400px 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  span{
    color:$add-cart-bg;
  }
  p{
    padding:15px 0 40px 0;
  }
}
/* ==========================================================================
> about-section
========================================================================== */
.about-section{
  background-color: $add-cart-bg;
  padding:300px 0;
  .about-bg{
    background-repeat:no-repeat;
    background-size: contain, contain;
    background-position:top right, bottom right;
  }
  .about-caption{
    span{
      font-size: 30px;
      color:$black;
    }
    p{
      color:$white;
      font-size: 18px;
      padding:30px 0 40px 0;
    }
  }
}
/* ==========================================================================
> banner-about-section
========================================================================== */
.banner-about-section{
  padding:240px 0;
  background-repeat: no-repeat;
  background-position:center bottom;
  background-size: cover;
}
/* ==========================================================================
> inspired-section
========================================================================== */
.inspired-section{
  .inspired-img{
    padding:170px 0;
    background-repeat: no-repeat;
    background-position:center top;
    background-size: cover;
  }
}
/* ==========================================================================
> innovation-section
========================================================================== */
.innovation-section{
  background-repeat: no-repeat;
  background-position:center right;
  .innovation-caption{
    p{
      padding:60px 10px 0 30px;
      font-size: 18px;
    }
  }
  .innovation-img-caption{
    h1{
    position: absolute;
    bottom: -3%;
    left: 7%;
    opacity: 0.4;
      color:$white;
    }
    h2{
    position: absolute;
    top: 83%;
    left: 7%;
    opacity: 0.4;
      color:$white;
    }
  }
}
/* ==========================================================================
> team-section
========================================================================== */
.team-section{
  background-repeat: no-repeat;
  background-position:center top;
  h1{
    margin:0 0 -90px 0;
  }
  .caption{
    span{
      font-size: 18px;
      color:#C5C5C5;
    }
  }

}
.bottom-corner-top{
  display: block;
  position: relative;
  &:after, &:before{
    content:'';
    position: absolute;
    background-color: #E20B13;
  }
  &:after{
    width: 6px;
    height: 10%;
    bottom: 2%;
    right:34px;
  }
  &:before{
    height: 6px;
    width: 14%;
    bottom: 2%;
    right:34px;
  }
}
.bottom-corner-bottom{
  display: block;
  position: relative;
  &:after, &:before{
    content:'';
    position: absolute;
    background-color: #E20B13;
  }
  &:after{
    width: 6px;
    height: 10%;
    top: 2%;
    left:14px;
  }
  &:before{
    height: 6px;
    width: 14%;
    top: 2%;
    left:14px;
  }
}

.bg-shadow{
  box-shadow: 0 3px 3px 0 #ddd;
  background-color: $white;
}
/* ==========================================================================
> brand-section
========================================================================== */
.brand-section{
  padding:60px 0;
  background-color: #F5F5F5;
  img{
    min-width:100px;
    min-height: 100px;
  }
}
/* ==========================================================================
> product-section
========================================================================== */
.product-section{
  padding-bottom: 75px;
  .product-caption{
    padding:50px 0 50px 0;
    p{
      font-weight: $regular;
      font-size: 18px;
      color:$black;
    }
    a{
      color:$color-red;
    }
  }
  .products{
    span{
      font-family: $muli-font;
      font-weight: $regular;
      font-size: 18px;
      color:$black;
    }
  }
}
.add-to-cart{
  font-family: $antom-font;
  font-weight: $regular;
  color:$white;
  font-size: 18px;
  background-color: $add-cart-bg;
  border:2px solid $black;
  border-radius: 25px 25px 25px 25px;
  padding:5px 20px;
  transition: all .3s ease-in;
  &:hover{
    color:$black;
    background-color: $white;
    transition: all .3s ease-in;
    border-radius: 0;
  }
}
.load-more{
  font-family: $antom-font;
  font-weight: $regular;
  color:$white;
  font-size: 18px;
  background-color: $btn-bg-color;
  border:2px solid $black;
  border-radius: 25px 25px 25px 25px;
  padding:13px 55px;
  transition: all .3s ease-in-out;
  &:hover{
    color:$black;
    background-color: $white;
    transition: all .3s ease-in;
    border-radius: 0;
  }
}
#myList li{
  display:none;
}
#myList:after{
  clear:both;
  display:block;
  content:"";
}

.less-more{
  font-family: $antom-font;
  font-weight: $regular;
  color:$white;
  display: none;
  font-size: 18px;
  background-color: $black;
  border:2px solid $black;
  border-radius: 25px 25px 25px 25px;
  padding:13px 55px;
  transition: all .3s ease-in-out;
  &:hover{
    color:$black;
    background-color: $white;
    transition: all .3s ease-in;
    border-radius: 0;
  }
}
/* ==========================================================================
> description-section
========================================================================== */
.description-section{
  background-repeat: no-repeat;
  background-position:bottom right;
  padding:120px 0 0 0;
  .description-img {
    img{
      width: 100%;
      min-height: 660px;
      margin-left: 60px;
      position: relative;
      z-index: 1;
    }
  }
  .description-caption{
    background-color: $white;
    box-shadow: 0 3px 3px 0 #ddd;
    padding:50px 10px 220px 60px;
    p{
      color:$black;
      font-weight: $regular;
      font-size: 1.125rem;
    }
  }
}
/* ==========================================================================
> categories-section
========================================================================== */
.categories-section{
  padding:35px 0 35px 0;
  .categories-top-img{
    padding:50px 0;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }
  .categories-img{
    &:hover{
      transition: .1s ease-in;
      opacity: 0.7;
      border-radius: 5px;
      filter: alpha(opacity=50);
    }
  }
  p{
    color:$black;
    font-size: 22px;
  }
}
.title-shadow{
  padding:60px 0 22px 0;
  color:$add-cart-bg;
  text-shadow:  3px -6px 0 $gray-bright;
}
/* ==========================================================================
> home-brand-section
========================================================================== */
.home-brand-section {
  padding: 50px 0 150px 0;

  h1 {
    color: $black;
  }

  p {
    font-size: 18px;
  }
  .brand-top{
    img{
      padding:15px 60px 30px 50px;
    }
  }
}
.home-brand-border-left{
  position: relative;
  &:after, &:before{
    content:'';
    position: absolute;
    background-color: #9a9a9a;
  }
  &:after{
    width: 1px;
    height: 100%;
    top:5%;
    left:13px;
  }
}
.home-brand-border-right{
  position: relative;
  &:after, &:before{
    content:'';
    position: absolute;
    background-color: #9a9a9a;
  }
  &:after{
    width: 1px;
    height: 75%;
    top:5%;
    right:13px;
  }
}

.home-brand-border-bottom{
  position: relative;
  &:after, &:before{
    content:'';
    position: absolute;
    background-color: #9a9a9a;
  }
  &:before{
    height: 1px;
    width: 100%;
    bottom: 2%;
    left:1px;
  }
}

.home-brand-border{
  position: relative;
  &:after, &:before{
    content:'';
    position: absolute;
    background-color: #9a9a9a;
  }
  &:after{
    width: 1px;
    height: 75%;
    top:5%;
    right:13px;
  }

  &:before{
    height: 1px;
    width: 75%;
    bottom: 2%;
    right:34px;
  }
}
.home-brand-border-bottom-left{
  position: relative;
  &:after, &:before{
    content:'';
    position: absolute;
    background-color: #9a9a9a;
  }
  &:after{
    width: 1px;
    height: 75%;
    bottom: 2%;
    top:5%;
    left:13px;
  }
  &:before{
    height: 1px;
    width: 75%;
    bottom: 2%;
    left:34px;
  }
}
  /* ==========================================================================
 > product-development-section
 ========================================================================== */
  .product-development-section {
    background-repeat: no-repeat;
    background-position: center top;
    padding:100px 0;
    img{
      margin-top: -190px;
    }
    .product-development-caption{
      padding:0 15px 95px 35px;
      background-color: $black;
      h5{
        color:$red-color;
        padding:10px 0;
      }
      p{
        color:$white;
        font-size: 18px;
        padding-bottom: 40px;
      }
    }
    .product-development-caption-two{
      padding:0 15px 95px 35px;
      background-color: $white;
      h5{
        padding:10px 0;
        color:#e2171f;
      }
      p{
        color:$black;
        font-size: 18px;
        padding-bottom: 40px;
      }
    }
  }
/* ==========================================================================
  > blogs-section
  ========================================================================== */
.bogs-section{
  background-repeat:no-repeat;
  background-position:top right;
  padding-bottom: 70px;
  h1{
   padding:115px 0 270px 0;
    color:$black;
  }
  .blog-title{
    color:$black;
    padding:105px 0 210px 0;
  }
}
.card {
  box-shadow: 0 33px 95px 0 rgba(0, 0, 0, 0.1);
  .card-header{
    background-color: #e1e2e4;
    padding:50px 0;
  }
  .card-img-top{
    width:27rem;
    margin: -240px auto 0 auto;
  }
  .card-text{
    font-size: 18px;
    padding-bottom: 25px;
  }
  .card-title{
    padding: 15px 0;
  }
}
  /* ==========================================================================
  > footer-section
  ========================================================================== */
  .footer-section {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 48px 0;
    .footer-middle {
      a {
        font-family: $muli-font;
        font-weight: $regular;
        font-size: 18px;

        &:hover {
          color: $red-color;
        }
      }
    }

    .footer-left {
      a {
        font-family: $muli-font;
        color: #f39307;
        font-size: 18px;

        &:hover {
          color: $red-color;
        }
      }
    }
  }
  /* ==========================================================================
  > woocommerce start
  ========================================================================== */
  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    margin: 0 15px 25px 0;
  }

  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product:nth-child(3n) {
    margin: 0 0 25px 0;
  }

  .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    margin: 0 33px 25px 0;
  }

  .woocommerce .products ul, .woocommerce ul.products {
    margin: 0;
  }

  .woocommerce ul.products li.product a img {
    transition: .5s ease-in-out;

    &:hover {
      transition: .5s ease-in;
      opacity: 0.4;
      border-radius: 5px;
      filter: alpha(opacity=50);
    }
  }

.view-our-products{
  font-family: $antom-font;
  font-weight: $regular;
  color:$white;
  font-size: 18px;
  background-color: $btn-bg-color;
  border:2px solid $white;
  border-radius: 25px 25px 25px 25px;
  padding:13px 60px;
  transition: all .1s ease-in;
  &:hover{
    color:$black;
    background-color: $white;
    transition: all .1s ease-in;
    border-radius: 0;
  }
}
.blog-our-products{
  border:none;
  font-family: $antom-font;
  font-weight: $regular;
  color:$white;
  font-size: 18px;
  background-color: $btn-bg-color;
  border:2px solid $black;
  border-radius: 25px 25px 25px 25px;
  padding:10px 40px;
  transition: all .1s ease-in;
  &:hover{
    color:$black;
    background-color: $white;
    transition: all .1s ease-in;
    border-radius: 0;
    cursor: pointer;
  }
}