/* Droid Sans font add */
@font-face {
  font-family: 'DroidSans';
  src: url("../css/fonts/DroidSans.ttf") format("ttf"); }
/* HELPER CLASS
 * -------------------------- */
a {
  font-size: 14px; }

a, input[type=text], .btn, .menu-icon .fa, img, .top-delivey-services, .header.menu-opened .top-delivey-services {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.btn, .btn.focus, .btn:focus, a:hover, a:focus, a:active {
  box-shadow: none;
  outline: none; }

.container {
  max-width: 1185px; }

html,
body {
  height: 100%;
  position: relative; }

html {
  overflow-y: scroll; }

body {
  min-width: 100px;
  line-height: 1.429;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  font-family: "Open Sans", sans-serif; }

a {
  cursor: pointer;
  text-decoration: none;
  font-style: normal; }

a:hover,
a:focus,
a:active {
  text-decoration: none;
  font-style: normal;
  outline: none; }

img {
  border: 0;
  vertical-align: middle; }

ul,
ol {
  list-style-position: inside;
  list-style-type: none; }

img {
  max-width: 100%; }

/* ==========================================================================
> Header
========================================================================== */
/* ==========================================================================
> Inner header
========================================================================== */
.inner-header-section {
  height: 450px;
  background: url("../images/inner-header.jpg") no-repeat;
  background-position: center center;
  background-size: cover; }

.title-section {
  padding: 25px 0; }
  .title-section h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
    background: transparent;
    line-height: 1.429; }
  .title-section p {
    font-family: "DroidSans";
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.429; }

/* ==========================================================================
>Inspired-section
========================================================================== */
.inspired-section {
  height: 675px;
  background: url("../images/inspired-section.png") no-repeat;
  background-position: center center;
  background-size: cover; }
  .inspired-section .inspired-overlay {
    width: 100%;
    height: 675px;
    background: rgba(0, 0, 0, 0.8); }

.inspired-tex {
  padding: 30px 0; }
  .inspired-tex h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 39px;
    padding: 10px 0;
    font-weight: 700;
    color: #ffffff; }
  .inspired-tex h2 {
    font-family: "Sue Ellen Francisco", cursive;
    padding: 10px 0 20px 0;
    font-size: 30px;
    color: #ffffff; }
  .inspired-tex .btn-plan-wedding {
    background-color: #29b6f6;
    color: #ffffff;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    outline: none;
    border: none;
    padding: 12px 30px;
    border-radius: 5px; }
    .inspired-tex .btn-plan-wedding:hover {
      background-color: green;
      color: #ffffff;
      transition: .2s ease-out; }

/* ==========================================================================
>activities-section
========================================================================== */
.activities-section {
  padding: 70px 0; }
  .activities-section .activities-img {
    height: auto; }
    .activities-section .activities-img img {
      border: 3px solid #F2F2F2;
      border-radius: 5px; }
    .activities-section .activities-img .activities-text h4 {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #333333;
      padding: 15px 0; }
    .activities-section .activities-img .activities-text p {
      font-family: "DroidSans";
      font-size: 14px;
      color: #989898; }
    .activities-section .activities-img .btn-activities {
      background-color: #29b6f6;
      color: #ffffff;
      font-size: 12px;
      font-family: "Montserrat", sans-serif;
      outline: none;
      border: none;
      font-weight: 500;
      padding: 12px 25px;
      border-radius: 5px; }
      .activities-section .activities-img .btn-activities:hover {
        background-color: green;
        color: #ffffff;
        transition: .2s ease-out; }

/* ==========================================================================
> brand section
========================================================================== */
.brand-section {
  height: 395px;
  background: url("../images/brand-images.jpg") no-repeat;
  background-position: center center;
  background-size: cover; }
  .brand-section .brand-overlay {
    width: 100%;
    height: 675px;
    background: rgba(0, 0, 0, 0.6); }
  .brand-section .brand-img img {
    padding: 165px 0 0 90px;
    display: inline;
    margin: 0 auto;
    width: auto;
    height: auto;
    color: black; }

/* ==========================================================================
> general-section
========================================================================== */
.bottom-gallery-section {
  padding: 90px 0;
  width: 100%;
  height: auto; }

/* ==========================================================================
> testimonial-section
========================================================================== */
.testimoinals-section {
  background-color: #F1F2F6;
  padding: 80px 0; }
  .testimoinals-section .media-body img {
    width: 64px;
    height: 64px;
    float: left; }

/* ==========================================================================
> all rooms
========================================================================== */
.all-room-section .btn-view-room {
  background-color: #29b6f6;
  color: #ffffff;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
  padding: 12px 18px;
  border-radius: 5px; }
  .all-room-section .btn-view-room:hover {
    background-color: green;
    color: #ffffff;
    transition: .2s ease-out; }

.all-room-img {
  width: 100%;
  height: auto; }

.room-free h1 {
  font-family: "Montserrat", sans-serif;
  color: #29B6F6;
  font-size: 50px;
  font-weight: 700; }
.room-free p {
  font-family: "DroidSans";
  font-size: 14px;
  color: #adadad;
  padding: 0 0 0 25px; }
.room-free span {
  font-size: 25px;
  padding: 5px; }
.room-free .dolor {
  font-size: 40px;
  padding: 5px; }
.room-free h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #888888;
  font-weight: 500; }

.double-room h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #333333;
  font-weight: 500;
  line-height: 1.429; }
.double-room p {
  font-family: "DroidSans";
  font-size: 14px;
  color: #666666; }

.room-facilities h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #989898;
  line-height: 1.429; }
.room-facilities li {
  font-family: "DroidSans";
  font-size: 14px;
  color: #989898; }
.room-facilities i {
  color: #666666; }

/* ==========================================================================
> room description
========================================================================== */
.room-description {
  padding: 38px 0;
  background-color: #f0f3f5; }
  .room-description .description-text {
    padding: 15px 0;
    background-color: #fff; }
    .room-description .description-text h5 {
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      font-weight: 500;
      color: #333333; }
    .room-description .description-text h6 {
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      color: #d4d4d4; }
  .room-description span {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    color: #5d5d5d; }
  .room-description .des-tex-height {
    margin: 0 auto;
    border: .5px solid #f2f2f2;
    width: 25%; }

.description {
  /*position: relative;*/
  width: 100%; }

img {
  display: block;
  width: 100%;
  height: auto; }

.overlay-text {
  color: white;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.description:hover .overlay {
  opacity: 1; }

.overlay {
  /*position: absolute;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition-duration: 3s;
  border-radius: 3px;
  background-color: rgba(0, 140, 186, 0.8); }

/* ==========================================================================
> general-section
========================================================================== */
.general-facilities h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: #333333;
  font-weight: 700;
  padding-top: 50px;
  line-height: 1.429; }
.general-facilities p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #666666;
  padding-top: 25px;
  line-height: 1.429; }
.general-facilities a {
  display: inline;
  padding: 0 18px 0 0; }
.general-facilities h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #666666;
  padding: 40px 0;
  line-height: 1.429; }
  .general-facilities h4 span {
    font-family: "Montserrat", sans-serif;
    color: #000000; }

/* ==========================================================================
> Contact form
========================================================================== */
.contact-form {
  padding: 20px 0 20px 0; }
  .contact-form .contact-us {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    color: #a0a0a0;
    font-weight: 500; }
  .contact-form .contact-me {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    color: #666666;
    border-radius: 0;
    resize: none; }
  .contact-form .contact-information h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    color: #000000;
    padding: 10px 0; }
  .contact-form .contact-information p {
    font-family: "DroidSans";
    font-size: 14px;
    color: #666666;
    font-weight: 400; }
  .contact-form .contact-form h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    color: #000000;
    padding: 10px 0; }
  .contact-form .contact-form p {
    font-family: "DroidSans";
    font-size: 14px;
    color: #666666;
    font-weight: 400; }

.send-email .btn-send-email {
  background-color: #29b6f6;
  color: #ffffff;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
  width: 100%;
  padding: 14px 18px;
  font-weight: 500;
  border-radius: 3px; }
  .send-email .btn-send-email:hover {
    background-color: green;
    color: #ffffff;
    transition: .2s ease-out; }

/* ==========================================================================
> Footer
========================================================================== */
.footer-top {
  background-color: #f6f6f6;
  padding: 55px 0 70px 0; }

.map-section {
  width: 100%;
  height: auto; }
  .map-section .map {
    border: 8px solid #ffffff;
    min-width: 270px;
    min-height: 190px; }

.contact-us h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #333333;
  line-height: 1.429; }
.contact-us p {
  font-family: "DroidSans";
  font-size: 14px;
  color: #888888; }

.recent-post h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #333333;
  line-height: 1.429; }
.recent-post p {
  font-family: "DroidSans";
  font-size: 14px;
  color: #555555; }
.recent-post i {
  padding: 2px;
  color: #727272;
  font-size: 10px; }

.news-letter h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #333333;
  line-height: 1.429; }
.news-letter p {
  font-family: "DroidSans";
  font-size: 14px;
  color: #888888; }
.news-letter .news-letter-form {
  border: 0;
  width: 95%;
  background-color: #ffffff;
  padding: 15px 25px;
  transition: 0.3s; }
.news-letter i {
  font-size: 1rem;
  padding: 5px 5px;
  color: #aaa;
  transition: 0.3s; }
.news-letter .btn-subscribe {
  background-color: #29b6f6;
  color: #ffffff;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
  padding: 12px 18px;
  border-radius: 5px; }
  .news-letter .btn-subscribe:hover {
    background-color: green;
    color: #ffffff;
    transition: .2s ease-out; }

.footer-bottom {
  padding: 38px 0 28px 0; }

.social-icons-section i {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  font-size: 1em;
  color: #b2b2b2;
  padding: 10px;
  cursor: pointer; }
  .social-icons-section i:hover {
    background-color: #29b6f6;
    color: #ffffff;
    transition: all .2s ease-in; }

.copyright-section p {
  font-family: "DroidSans";
  font-size: 1em;
  color: #d1d1d1; }

/*
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}*/

/*# sourceMappingURL=styles.css.map */
